@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
@import 'bootstrap';
@import 'colors';
@import 'generic';

@import 'pages/index';
@import 'pages/sounds';
@import 'pages/repeat';
@import 'pages/settings';

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#header {
  height: 10vh;
  .make-lg-column(12);

  #call-to-action {
    height: 100%;
    .make-lg-column(3);

    i {
      text-align: left;
      .vertical-align;
    }
  }
}

#content {
  .make-lg-column(8);
  .make-lg-column-offset(2);

  .page {
    .make-lg-column(12);

    .sound-container {
      color: @paper-transparent;
      font-size: 10vh;
      margin-bottom: 10vh;
      text-align: center;
      .make-lg-column(6);
    }
  }
}

#footer {
  height: 10vh;
  .make-lg-column(12);

  #video-container {
    height: 60vh;
    margin-top: 10vh;
    .make-lg-column(12);

    #video-overlay {
      position: absolute;
      background: transparent;
      height: 100%;
      width: 100%;
      z-index: 10;
    }
  }

  #video-player-controls {
    color: @paper-transparent;
    .make-lg-column(6);
    .make-lg-column-offset(3);

    .controls-container {
      text-align: center;
      .make-lg-column(4);

      i {
        cursor: pointer;
      }
    }
  }
}
