<div id="index-greeting">
  bring the noise!
</div>

<div id="links">
  {{#link-to "sounds"}} {{fa-icon "fa-sliders"}} {{/link-to}}
  {{#link-to "songs"}} {{fa-icon "fa-youtube-play"}} {{/link-to}}
</div>

<div id="settings-link">
  {{#link-to "settings"}} {{fa-icon "fa-cogs"}} {{/link-to}}
</div>
