<div id="index-greeting">
  bring the noise!
</div>

<div id="links">
  {{#link-to "sounds"}} {{fa-icon "fa-sliders"}} {{/link-to}}
  {{#link-to "repeat"}} {{fa-icon "fa-youtube-play"}} {{/link-to}}
</div>
